.menu-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}



.round-menu-button {
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 13px;
    border-radius: 100%;
    padding: 0px;
    position: absolute;
    right: 30px;
}

.menu-first {
    bottom: 85px;
}

.menu-second {
    bottom: 130px;
}


.menu-label {
    position: absolute;
    right: 70px;
}

.menu-label-first {
    bottom: 90px;
}

.menu-label-second{
    bottom: 135px;
}