body {
    margin: 0;
    padding: 0;
}

.p-1 {
    padding: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
}

.content {
    padding: 1em;
}

.text-right {
    text-align: right !important;
}

.modal {
    position: 'absolute';
    max-width: 400px;
    background-color: white;
    outline: none;
    margin: 10px;
}